<h1>Enrol Student</h1>

<form action="/students" method="post">
  <label for="first-name">First name:</label>
  <input type="text" id="first-name" name="first_name" value="">

  <label for="last-name">Last name:</label>
  <input type="text" id="last-name" name="last_name" value="">

  <label for="house-select">Select a House:</label>
  <select id="house-select" name="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Slytherin">Slytherin</option>
  </select>

  <label for="age">Age:</label>
  <input type="number" id="age" name="age" value="">

  <input type="submit" value="Enrol Student">

</form>
